Flask==3.0.0
gunicorn==23.0.0
google-cloud-firestore==2.*
google-cloud-aiplatform==1.71.1
pandas==2.*
requests==2.32.3
finnhub-python==2.4.*
PyYAML==6.0.1
beautifulsoup4==4.*
feedparser==6.*
pytube==15.*
spacy==3.*